.body{
    display: flex;
height: 88px;
padding: 24px 370px;
justify-content: center;
align-items: center;
align-self: stretch;
}

.container{
    display: flex;
width: 1090px;
justify-content: space-between;
align-items: center;
align-self: stretch;
height: auto;

border-radius: 57.823px;
}

.containerTwo{
    display: flex;
align-items: center;
gap: 30px;
}

.TEXT{
    color: #000;
font-family: Dela Gothic One;
font-size: 20.861px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
letter-spacing: -0.417px;
}

.Home{
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
letter-spacing: -0.64px;
}

.textTwo{
    color: #757575;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%;  
letter-spacing: -0.64px;
}

.Two{
    width: 14px;
height: 14px;
}

.zxc{
    display: flex;
align-items: center;
}

.FrameOne{
    display: flex;
align-items: center;
gap: 30px;
}

.FrameTwo{
    display: flex;
align-items: center;
gap: 10px;
}

.FrameThree{
    display: flex;
padding: 9px 14px;
justify-content: center;
align-items: center;
gap: 14px;
}

.Sign__In{

}


.oh1{
height: 740px;
align-self: stretch;
}

.oh2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 90px;
flex-shrink: 0;
}

.oh3{
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.oh4{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 48.777px;
}

.oh5{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}

.oh6{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.man{
    color: var(--primaty-cyan-dark, #2B788B);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 100%; 
letter-spacing: 2.24px;
text-transform: uppercase;
}

.class{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
}

.textr{
    color: var(--primaty-black, #000);
font-family: Dela Gothic One;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
letter-spacing: -2.24px;
width: 531px;
margin-top: -25px;
}


.containerTo{
    margin-left: 410px;
    margin-right: 410px;
    display: flex;
}

.gogo{
    color: var(--primaty-grey-dark, #757575);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
letter-spacing: -0.72px;
margin-top: -59px;
}

.koko{
    width: 933px;
    height: 601px;
    flex-shrink: 0;
}

.jojo{
    width: 608.734px;
height: 507.279px;
flex-shrink: 0;
display: flex;
}

.Only{
    display: flex;
padding: 95.373px 375.536px 95.373px 370px;
align-items: center;
gap: 20px;
align-self: stretch;
}

.Frame8{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 34px;
}

.Frame{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
}

.TeeXt{
    color: var(--primaty-black, #000);
font-family: Dela Gothic One;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
letter-spacing: -1.92px;
}

.Teeext{
    color: var(--primaty-grey-dark, #757575);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
letter-spacing: -0.72px;
}

.cl{
    display: flex;
padding: 14px 22px;
justify-content: center;
align-items: center;
gap: 19px;
border-radius: 100px;
background: var(--primaty-cyan-light, #C3DCE3);
}

.georgii{
    display: flex;
height: 104px;
padding: 52px 57.048px 38px 104.952px;
justify-content: flex-end;
align-items: center;
align-self: stretch;
}

.yegor{
    display: flex;
height: 104px;
padding: 52px 57.048px 38px 104.952px;
justify-content: flex-end;
align-items: center;
align-self: stretch;
}

.rer{
    color: var(--primaty-grey-dark, #757575);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}

.textt{
    display: flex;
align-items: flex-start;
gap: 30px;
}

.zxczxc{
    color: var(--primaty-grey-dark, #757575);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 100%;
}